:root {
	--texto: rgba(255, 255, 255, .7);
	--blanco: #fff;
	--input: #3A3B3C;
	--input-hover: #4b4d4e;
	--activo: #2D88FF;
	--gris-claro: #B0B3B8;
	--fondo-contenido: #0F4C75;
}

body {
	color: var(--blanco);
}

.aside {
	background: var(--fondo-contenido);
	height: 100vh;
	display: flex;
	font-size: 1.3rem;
	flex-direction: column;
}

a {
	color: var(--blanco);
}

.main-container {
	padding: 0;
}

.main-title {
	z-index: 1;
	color: white;
	font-weight: 800;
	font-size: 9rem;
}

#bg-image {
	height: 100vh;
	width: 100%;
	z-index: 0;
	filter: blur(1.3px);
	background-color: #0F4C75;
}

#hidden-div {
	display: none;
}