:root {
	--texto: rgba(255,255,255, .7);
	--blanco: #fff;
	--input: #3A3B3C;
	--input-hover: #4b4d4e;
	--activo: #2D88FF;
	--gris-claro: #B0B3B8;
	--fondo-contenido: #242526;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #18191A;
	color: var(--blanco);
}

.formulario {
	padding: 20px;
	background: var(--fondo-contenido);
	color: var(--blanco);
	border-radius: 50px;
}

.cuadro {
    height: 150px;
    resize: none;
	background: var(--input);
	color: var(--blanco);
}

.form-control {
    font-size: 0.8rem;
    padding: 0.1rem 0.2rem;
    height: 2rem;
	background: var(--input);
	color: var(--blanco);
}

.form-control:hover {
	background: var(--input-hover);
	color: var(--blanco);
}

.form-control :hover {
	background: var(--input-hover);
}

#hidden-div {
	display: none;
}