:root {
	--texto: rgba(255,255,255, .7);
	--blanco: #fff;
	--input: #3A3B3C;
	--input-hover: #4b4d4e;
	--activo: #2D88FF;
	--gris-claro: #B0B3B8;
	--fondo-contenido: #0F4C75;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	color: var(--blanco);
}

.aside {
	background: var(--fondo-contenido);
	height: 100vh;
	font-size: 1.3rem;
	display: flex;
    flex-direction: column;
}

a {
	color: var(--blanco);
}

main {
	background: var(--blanco);
	padding-left: 5rem;
	height: 100vh;
	display: flex;
    /* flex-direction: column;
    align-items: center;
    justify-content: center; */
	margin-top: 3rem;
}

/* FORMULARIO */
.formulario {
	background: var(--blanco);
	color: var(--input);
}

.cuadro {
    height: 150px;
    resize: none;
	border-color: var(--fondo-contenido);
	color: var(--input);
}

.cuadro:hover {
	border-color: #A0E9FF;
}

textarea:focus {
	background-color: #E3F4F4;
}

.control {
    font-size: 1rem;
    padding: 0.2rem 0.4rem;
    height: 2rem;
    width: 12rem;
	color: var(--input);
	border-color: var(--fondo-contenido);
}

.control:hover {
	border-color: #A0E9FF;
	color: var(--input);
}

.main-container{
    padding: 0;
}

#bg-image{
    height: 100vh;
    width: 100%;
    z-index: 1;
}

#hidden-div {
	display: none;
}